*{
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}
a {
    text-decoration: none !important;
}
body{
    background-position: 55% 50%;
    background-image: url(../img/background_app.png);
}
#general_section{
    background-color: #f2fbf5;
    display: flex;
    width: 90%;
    height: 90vh;
    margin: 5vh 5%;
    border-radius: 20px;
    box-shadow: 6px 0px 14px -1px rgba(0, 0, 0, 0.75);
}
#general_section .left_menu{

    width: 25vh;
    height: 100%;
    border-right: 1.5px dotted #245734;
    border-radius: 20px 0px 0px 20px;
}
.left_menu img{
    width: 100%;
    height: auto;
}
#general_section nav{
    padding-top: 0;
}
.left_menu ul{
    width: 100%;
    height: 100%;
    padding: 0px;
}
.left_menu li {
    color: #215A34 !important;
    text-align: center;
    padding: 3vh 0px 0px 0px;
    list-style: none;
}
.left_menu .exit{
    text-align: center;
    padding: 3vh 0px 1.5vh 0px;

}
.profile_resume{
    display: grid;
    place-items: center;
    padding: 1vh;
}
.profile_resume img{
    margin: 1vh 0vh 1vh 0vh;
    border-radius: 50%;
}
.profile_resume p{
    margin: 5px;
    font-size: 1.3rem;
    font-weight: bold;
    color: #215A34;
}
.profile_resume span{
    font-size: 1.1rem;
    color: #215A34;
}
.div_contain{
    margin: 10px;
    width: 90%;
    border: 0.5px solid #245734;
}
.img_contain{
    padding: 11vh 6vh 1vh 6vh;
}
.central{
    display: grid;
    align-content: center;
    width: calc(100% - 150px);
    height: 100%;
    border-radius: 0px 20px 20px 0px;
}
#upd_title{
    text-align: center;
}
.upd_form{
    padding: 2vh 4vh;
}
.form-group{
    padding: 0.5vh 0vh;
}
.btn_update{
    width: 15vh;
    margin-top: 2vh;
    height: 5.5vh;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 20px;
    border-color: #ffffff00;
    color: #fff;
    background-color: #215A34;
    font-size: 27px;
    text-align: center;
}